

<!-- Toolbar -->
<div class="toolbar" role="banner">
  
  <span style="margin: 12px">Bemvindo ao projecto IHM</span>
    <div class="spacer"></div>

</div>

<div class="content" role="main">


  <div>
    <h2 style="text-align:center">Transferir ficheiros</h2>

<div class="card">
  <img src="assets/imgs/file.png" alt="fileicon" style="width:30%">
  <h1>envia ficheiros</h1>
  <p class="title">Torne seu dia facil</p>
  <p>em um clique!</p>
  <br/>

  <!--Formulario vai aqui-->

 
  <p> 
    <button type="button" (click)="fileInput.click() ">
      <span>Selecione o ficheiro</span>
      <input #fileInput type="file" onchange="fileChanged()"  style="display:none;" />
    </button>
  </p>
 
 
</div>
  </div>

</div>

<router-outlet></router-outlet>
